In [1]:
# for loop, while loop

In [2]:
# for loop

In [3]:
my_list = [10,20,30,40,50,60,70]

In [4]:
my_list[0] * 2

20

In [5]:
my_list[0]/5*2

4.0

In [6]:
for number in my_list:
    print(number)

10
20
30
40
50
60
70

In [7]:
for number in my_list:
    print(number/5)

2.0
4.0
6.0
8.0
10.0
12.0
14.0

In [8]:
for number in my_list:
    if number %6==0:
        print(number)

30
60

In [9]:
for x in my_list:
    if x %6==0:
        ne

NameError: name 'ne' is not defined

In [ ]:
number_list = [1,2,3,4,5,6,7,8,9]

In [ ]:
for x in number_list:
    if x %2 == 0:
        print(x)

In [ ]:
my_string = "Muhammed Akpiyal"

In [ ]:
for c in my_string:
    print(c)

In [ ]:
my_tuple = (10,20,30,40,50,60,70)

In [ ]:
for num in my_tuple:
    print(num/5 * 2)

In [ ]:
my_new_list = [("a","b"),("c","d"),("e","f"),("g","h")]

In [ ]:
len(my_new_list)

In [ ]:
for element in my_new_list:
    print(element)

In [ ]:
#tuple unpacking

In [ ]:
my_new_list[0][1]

In [ ]:
for (x,y) in my_new_list:
    print(x)

In [ ]:
my_tuple_list = (0,1,2),(3,4,5),(6,7,8),(9,10,11)

In [ ]:
for (x,y,z) in my_tuple_list:
    print(x)

In [ ]:
my_set = {1,2,3,4,5}

In [ ]:
my_set

In [ ]:
len(my_set)

In [ ]:
type(my_set)

In [ ]:
for x in my_set:
    print(x)

In [ ]:
my_dictionary = {"k1":100, "k2":200, "k3":300}

In [ ]:
for element in my_dictionary:
    print(element)

In [ ]:
my_dictionary.values()

In [ ]:
my_dictionary.keys()

In [ ]:
my_dictionary.items()

In [ ]:
for (key,value) in my_dictionary.items():
    print(value)

In [ ]:
for(key,value) in my_dictionary.items():
    print(key)

In [ ]:
for x in my_dictionary.values():
    print(x)

In [ ]:
#continue-break-pass

In [ ]:
print("for loop started")
for num in my_list:
    print(num)
print("for loop endet")

In [ ]:
40 in my_list

In [ ]:
for number in my_list:
    if number == 40:
        print("number in my_list")

In [ ]:
for number in my_list:
    print(number)
    if number == 40:
        print("number in my_list")

In [ ]:
for number in my_list:
    if number == 40:
        print("number in my_list")
        break

In [ ]:
my_list

In [ ]:
my_list

In [ ]:
for number in my_list:
    print(number)
    if number == 40:
        break

In [ ]:
for number in my_list:
    if number == 40:
        continue
    print(number)

In [ ]:
for num in my_list:
    pass

In [ ]:
# pass kod geliştirme aşamasında, çalışmasını istemediğimiz ancak birşey yazmamız gereken satırlar için kullanılır.

In [ ]:
x = 0

In [ ]:
print("While loop started")
while x < 10:
    print(x)
    x = x + 1
print("while loop ended")

In [ ]:
last_list = [10,20,30,40,50]

In [ ]:
while 20 in last_list:
    print("20 in lastlist")
    last_list.pop()

In [ ]:
last_list = [10,20,30,40,50]

In [ ]:
while 20 in last_list:
    print("20 in last list")
    last_list.remove(20)

In [ ]:
last_list

In [ ]:
# while True
#or while 1==1: devamlı olmasını istediğimiz şeyler bu kod blokları kullanılabilir

In [ ]:
my_list

In [ ]:
print(f"my_new_list: {my_list[0]},{my_list[1]}")

In [ ]:
x = input("Bitte geben Ihr Name ein")
print(f"Welcome {x}")

In [ ]:
print("welcome", x)

In [ ]:
x = int(input("Bitte geben Ihr Alter ein"))
p = 0
while p < 100:
    print(f)