In [1]:
myName = "Muhammed"

In [2]:
myAge = 90

In [3]:
MyGender = "Male"

In [4]:
Muhammed = Person("Muhammed", 32, "Female")

NameError: name 'Person' is not defined

In [ ]:
David = Person("David",35,"Male")

In [ ]:
type(David)

In [ ]:
class Person():
    #property
    name    = ""
    surname = ""
    age     = ""
    gender  = ""
    job     = "Developer"
    def __init__(self,name,surname,age,gender):
        self.name = name
        self.surname = surname
        self.age = age
        self.gender = gender

In [ ]:
Muhammed = Person("Muhammed","Akpiyal",33,"Male")

In [ ]:
Muhammed.name

In [ ]:
Muhammed.age

In [ ]:
Muhammed.job

In [20]:
class Dog():
    year = 7
    def __init__(self,age=5):
        self.age = age
        self.dogHumanAge = age * self.year
        print("dog instance")
        
    def humanAge(self):
        return self.age * Dog.year #--> Dog.year or self.year

In [21]:
my_dog = Dog(6)

dog instance

In [22]:
my_dog.humanAge()

42

In [23]:
my_dog.humanAge()

42

In [24]:
my_dog.dogHumanAge

42

In [25]:
barley = Dog()

dog instance

In [28]:
barley.dogHumanAge

35